@page "/Students/Edit/{Id:int}"
@using ContosoUniversityWebApp.Shared.DTOs;
@inject IStudentService studentService

<h1>Edit</h1>

<h4>Student</h4>

<hr />

<StudentFormComponent student="@editStudentModel" Id="@Id" />

@code {

	[Parameter]
	public int Id { get; set; }
	CreateStudentDTO editStudentModel = new();



	protected override async Task OnParametersSetAsync()
	{
		StudentDetailDTO _student = await studentService.GetStudent(Id);

		editStudentModel.LastName = _student.LastName;
		editStudentModel.FirstMidName = _student.FirstMidName;
		editStudentModel.EnrollmentDate = _student.EnrollmentDate;
	}
}
